/* print.css */
@media print {
  body {
    font-family: serif;
    font-size: 12pt;
    color: #000;
    background: #fff;
  }

  /* Hide elements */
  nav,
  .features,
  .description,
  .contact,
  .parcel,
  .interior,
  .no-print {
    display: none !important;
  }

  /* Logo size */
  .logo {
    width: 60px !important;
    height: auto !important;
  }

  /* Property listing styles */
  .property-listing {
    page-break-before: always;
    text-align: center;
    width: 100%;
    padding-top: 5rem;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .property-listing .qr {
    width: 80vw;
    height: 80vw;
    max-width: 80%;
    max-height: 80%;
  }
}

@page {
  @top-left {
    content: "";
  }
  @top-center {
    content: "";
  }
  @top-right {
    content: "";
  }
  @bottom-left {
    content: "";
  }
  @bottom-center {
    content: "";
  }
  @bottom-right {
    content: "";
  }
}
