/* PRINT STYLES FOR PRINT PAGE */
@media print {
	.print-nav {
		display: none;
	}

	.print-logo {
		position: absolute;
		top: 1rem;
		right: 1rem;
		width: 150px; /* Adjust size as needed */
		height: auto;
	}

	.grid-container {
		width: 100%;
		margin: 0;
		page-break-after: avoid; /* Keep the table on one page if possible */
	}

	.property-listing {
		page-break-before: always; /* Force QR to a new page */
		width: 100%;
		margin: 0;
	}
}